ul {
    list-style: none;
    padding: 0;
}

.horizontal-container {
    display: flex;
    gap: 0.5rem;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    border: none;
}
